/* Navigation Bar */
.navigation-bar {
  position: fixed;
  width: 100%;
  height: remcalc(64);
  max-height: remcalc(64);
  background-color: $blue-ribbon;
  transition: background-color .2s ease-in, box-shadow .3s $cubic, transform .3s $cubic;
  z-index: 200;

  @include breakpoint(large) {
    position: relative;
    top: remcalc(10);
    margin: 0 0 remcalc(-64);
    padding: 0 remcalc(10);
    background-color: transparent;
    pointer-events: none;
  }

  .burger-wrapper,
  .logo-wrapper {
    z-index: 250;
    pointer-events: all;
  }

  /* Nav bar when user scroll down */
  &.is-scrolling {
    box-shadow: $black-shadow-20;

    @include breakpoint(large) {
      position: fixed;
      box-shadow: none;
    }

    .logo-wrapper {
      transition: box-shadow .3s $cubic, background .3s $cubic;

      @include breakpoint(large) {
        padding: remcalc(20) remcalc(30);
        transform: translateX(-30px);
        background: $blue-ribbon;
        box-shadow: $black-shadow-20;
      }
    }

    .burger-wrapper {
      transition: box-shadow .3s $cubic, background .3s $cubic;

      @include breakpoint(large) {
        width: remcalc(150);
        padding: remcalc(23) remcalc(30);
        transform: translateX(30px);
        background: $blue-ribbon;
        box-shadow: $black-shadow-20;

        /* Remove Styles when Menu open */
        &.is-active {
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }
}

/* Navigation Layout */
.nav-layout {
  display: flex;
  padding: 0 remcalc(20);
  height: 100%;
  align-items: center;

  .logotype {
    width: remcalc(90);
    height: remcalc(27);
  }

  .burger-menu {
    position: relative;
    margin: 0 0 0 auto;
    width: remcalc(30);
    height: remcalc(24);
    z-index: 250;
  }
}

/* Burger Menu */
.burger-wrapper {
  cursor: pointer;
  margin: 0 0 0 auto;

  /* Modifier */
  &.is-active {
    background: transparent;
    box-shadow: none;
    z-index: 500;
  }
}

.burger-menu {
  .menu-label {
    position: absolute;
    left: -(remcalc(62));
    text-transform: uppercase;
    color: $white;
    line-height: 1.2;
  }

  .burger-line {
    display: block;
    position: absolute;
    height: remcalc(3);
    border-radius: remcalc(3);
    background: $white;
    right: 0;
    transition: width .3s $cubic, opacity .3s $cubic, transform .4s $cubic, background .3s $cubic;

    &:nth-child(1) {
      width: 100%;
      top: 0;
    }

    &:nth-child(2) {
      width: 75%;
      top: remcalc(10);
    }

    &:nth-child(3) {
      width: 85%;
      top: remcalc(20);
    }
  }

  /* States */
  /* Hover State */
  &:hover {
    .burger-line {
      width: 100%;
    }
  }

  /* Modifiers */
  /* Active Burger Menu */
  &.is-active {
    .menu-label {
      display: none;
    }

    .burger-line {
      width: 75%;
      background: $blue-ribbon;

      &:nth-child(1) {
        transform-origin: 50% 50%;
        transform: translate3d(0, 10px, 0) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate3d(-20px, 0, 0);
        opacity: 0;
      }

      &:nth-child(3) {
        transform-origin: 50% 50%;
        transform: translate3d(0, -10px, 0) rotate(-45deg);
      }
    }
  }
}

/* Main Menu */
.main-menu {
  display: flex;
  flex-direction: column;
  box-shadow: 0 40vh 0 0 $white;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: remcalc(60) remcalc(20);
  top: 0;
  right: 0;
  background: $white;
  z-index: 400;
  pointer-events: all;

  @include breakpoint(small) {
    top: remcalc(10);
    right: remcalc(10);
    max-width: remcalc(748);
    height: calc(100vh - 1.25rem);
    padding: remcalc(80) remcalc(40);
    box-shadow: $gray-shadow-30;
  }

  @include breakpoint(large) {
    max-width: remcalc(960);
    padding: remcalc(80);
  }
}

/* Navigation Link */
.navigation-item {
  margin-bottom: remcalc(16);
  font-size: remcalc(20);
  line-height: 1;
  color: $black;

  @include breakpoint(small) {
    margin-bottom: remcalc(20);
  }

  @include breakpoint(large) {
    font-size: remcalc(26);
    margin-bottom: remcalc(32);
  }

  & > a {
    position: relative;
    color: inherit;
    white-space: nowrap;
    text-decoration: none;

    /* Position The Hover Underline but do not show */
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: remcalc(4);
      left: 0;
      width: 1%;
      height: remcalc(6);
      background: $broom;
      opacity: 0;
      z-index: -1;
      transition: opacity .05s ease-in, width .4s $cubic;

      @include breakpoint(large) {
        bottom: remcalc(4);
        height: remcalc(10);
      }
    }

    /* Display Hover Effect by toggling opacity */
    &:hover {
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  /* Language Item, Push to Bottom */
  &.language-select {
    margin: auto 0 0;
    font-size: remcalc(16);
    font-weight: $bold;
  }

  /* Active Element */
  &.is-active {
    font-weight: $bold;
  }
}

/* Account Menu Links */
.account-links {
  margin: 0 0 remcalc(16);
  padding: 0 0 remcalc(16);
  border-bottom: 1px solid $botticelli;

  @include breakpoint(small) {
    margin: 0 0 remcalc(32);
    padding: 0 0 remcalc(32);
  }

  @include breakpoint(large) {
    margin: 0 0 remcalc(48);
    padding: 0 0 remcalc(48);
  }

  .navigation-item {
    margin: 0 remcalc(32) 0 0;

    &:first-child {
      color: $green;
      font-weight: bold;
    }
  }
}
